<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {# CSS that is used by ALL pages on site: common default styles #}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pheget.css') }}">

  {# A space for per-page custom CSS, guaranteed to override preset styles #}
  {% block css %}{% endblock %}
  <title>{% block title %}{% endblock %} | PheGET: eQTL Browser</title>
</head>
<body>

{% block content %}{% endblock %}

{# JS that is used on ALL pages: common default behaviors #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{# Error monitoring: requires a setting in the machine-specific .env file #}
{% if config.SENTRY_DSN %}
  <script src="https://browser.sentry-cdn.com/5.12.0/bundle.min.js"
          integrity="sha384-628yQYiY4aWhtsw5Qy17Mmuij8Qwsu5EeUbhpWDRUBkxa41oNaPoXwVJ7+dH7CJb"
          crossorigin="anonymous"></script>
  <script>
    Sentry.init({ dsn: {{ config.SENTRY_DSN | tojson }} });
  </script>
{% endif %}

<script>
    // Activates Bootstrap tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(function () {
        $('[data-toggle-second="tooltip"]').tooltip()
    })
</script>

{# A space for per-page JS code, guaranteed to be run after the DOM is ready #}
{% block javascript %}{% endblock %}
</body>
</html>
