{% extends 'frontend/base.html' %}
{% block title %}Home{% endblock %}

{% block css %}
  <style>
    body {
      height: 100%;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container d-flex vh-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-xs-12">
        <h2 class="text-center">
          PheGET: Visualization for Phenotypes, Genotypes, Expression data, and Tissues
        </h2>

        <form id="variant-search" class="mb-3">
          <div class="input-group">
            <input id="query-field" name="query-field" autocomplete="off" class="form-control"
                   type="text"
                   placeholder="Search for a variant, e.g. chr19:488506 or rs10424907" autofocus/>

            <div class="input-group-append">
              <button type="submit" id="navigate-variant" class="btn btn-primary">Search <span
                  class="fa fa-search"></span></button>
            </div>
          </div>
        </form>

        <div class="text-center">
          Examples:
          <a href="{{ url_for('frontend.variant_view', chrom='19', pos=6718376) }}">chr19:6718376</a>
          <a href="{{ url_for('frontend.variant_view', chrom='15', pos=78570111) }}">chr15:78570111</a>
          <a href="{{ url_for('frontend.variant_view', chrom='12', pos=56007301) }}">chr12:56007301</a>
          <a href="{{ url_for('frontend.variant_view', chrom='19', pos=488506) }}">chr19:488506</a>
          <a href="{{ url_for('frontend.variant_view', chrom='19', pos=991063) }}">chr19:991063</a>
          <a href="{{ url_for('frontend.variant_view', chrom='19', pos=4425308) }}">chr19:4425308</a><br>
          <!-- when the user enters a chrom with 'chr' in front of it, the gene track and LD coloring do not load properly -->
          Example for single tissue range plot:
          <a href="{{ url_for('frontend.region_view', chrom='19', start=448506, end=528506, tissue='Brain_Cortex', gene_id='ENSG00000129946.10') }}">chr19:448506-528506,
            Brain Cortex, <i>SHC2</i></a> <br>
        </div>
      </div>

    </div>
  </div>
{% endblock %}


{% block javascript %}
  <script src="{{ url_for('static', filename='js/searchbox.js') }}" type="application/javascript"></script>

  <script>
      document.getElementById('variant-search').addEventListener('submit', function (event) {
          event.preventDefault();
          const variant = document.getElementById('query-field').value;
          if (!variant) {
              return;
          }
          parseSearch(variant);
      });
  </script>
{% endblock %}
