{% extends 'frontend/base.html' %}

{% block title %}Region{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locuszoom@{{ config.LOCUSZOOM_VERSION }}/dist/locuszoom.css"
        type="text/css"/>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row padtop">
      <div class="col-sm-10">
        <div id="home-searchbox">
          <form id="variant-search">
            <div class="input-group">
              <input id="query-field" name="query-field" autocomplete="off" class="form-control"
                     type="text"
                     placeholder="Search for a variant, e.g. chr19:488506 or rs10424907" autofocus/>
              <div class="input-group-append">
                <button id="navigate-variant" class="btn btn-primary" type="submit">Search <span
                    class="fa fa-search"></span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <center>
      <a href="/" class="btn btn-primary btn-sm" role="button" aria-pressed="true"><span class="fa fa-home"></span> Back
        to PheGET Homepage</a>
    </center>
    <br>
  </div>

  {#  FIXME: This label does not update as the plot is panned or zoomed. We can resolve this in the future when we move to a dynamic frontend #}
  <h1 style="margin-top: 1em;"><strong>Single-tissue eQTLs near {{ chrom }}:{{ center }} </strong></h1>

  <!-- Bootstrap dropdown menu to choose an additional tissue to plot -->
  <div class="container-fluid">
    <div class="row justify-content-start">

      <div class="col-1">
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdown_tissueselect" data-toggle="dropdown" data-toggle-second="tooltip"
                  aria-haspopup="true" aria-expanded="false" title="Add a new panel with the selected tissue and the current anchor gene">
            Add Tissue
          </button>
          <!-- TODO: list of tissues should be dynamically generated instead of hand-coded -->
          <div class="dropdown-menu" aria-labelledby="dropdown_tissueselect">
            <button class="dropdown-item tissueselect-class" type="button" value="Brain_Cortex">Brain Cortex</button>
            <button class="dropdown-item tissueselect-class" type="button" value="Muscle_Skeletal">Skeletal Muscle</button>
            <button class="dropdown-item tissueselect-class" type="button" value="Cells_Cultured_fibroblasts">Cells Cultured Fibroblasts</button>
            <button class="dropdown-item tissueselect-class" type="button" value="Nerve_Tibial">Nerve Tibial</button>
            <button class="dropdown-item tissueselect-class" type="button" value="Heart_Left_Ventricle">Heart Left Ventricle</button>
            <button class="dropdown-item tissueselect-class" type="button" value="Whole_Blood">Whole Blood</button>
            <button class="dropdown-item tissueselect-class" type="button" value="Adipose_Subcutaneous">Adipose Subcutaneous</button>
          </div>
        </div>
      </div>

      <div class="col-1">
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdown_geneselect" data-toggle="dropdown" data-toggle-second="tooltip"
                  aria-haspopup="true" aria-expanded="false" title="Add a new panel with the selected gene and the current anchor tissue">
            Add Gene
          </button>
          <!-- TODO: list of genes should be dynamically generated instead of hand-coded -->
          <div class="dropdown-menu" aria-labelledby="dropdown_geneselect">
            <button class="dropdown-item geneselect-class" type="button" value="CHRNA5">CHRNA5</button>
            <button class="dropdown-item geneselect-class" type="button" value="CHRNA3">CHRNA3</button>
            <button class="dropdown-item geneselect-class" type="button" value="AC022748.2">AC022748.2</button>
            <button class="dropdown-item geneselect-class" type="button" value="AC027228.2">AC027228.2</button>
            <button class="dropdown-item geneselect-class" type="button" value="PSMA4">PSMA4</button>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown_anchortissueselect" data-toggle="dropdown" data-toggle-second="tooltip"
                  aria-haspopup="true" aria-expanded="false" title="Choose a tissue to serve as an anchor">
                  <span class="fa fa-anchor"></span> <span class="anchortissue"></span>
          </button>
          <!-- TODO: list of tissues should be dynamically generated instead of hand-coded -->
          <div class="dropdown-menu" aria-labelledby="dropdown_anchortissueselect">
            <button class="dropdown-item anchortissueselect-class" type="button" value="Brain_Cortex">Brain Cortex</button>
            <button class="dropdown-item anchortissueselect-class" type="button" value="Muscle_Skeletal">Skeletal Muscle</button>
            <button class="dropdown-item anchortissueselect-class" type="button" value="Cells_Cultured_fibroblasts">Cells Cultured Fibroblasts</button>
            <button class="dropdown-item anchortissueselect-class" type="button" value="Nerve_Tibial">Nerve Tibial</button>
            <button class="dropdown-item anchortissueselect-class" type="button" value="Heart_Left_Ventricle">Heart Left Ventricle</button>
            <button class="dropdown-item anchortissueselect-class" type="button" value="Whole_Blood">Whole Blood</button>
            <button class="dropdown-item anchortissueselect-class" type="button" value="Adipose_Subcutaneous">Adipose Subcutaneous</button>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown_anchorgeneselect" data-toggle="dropdown" data-toggle-second="tooltip"
                  aria-haspopup="true" aria-expanded="false" title="Choose a gene to serve as an anchor">
                  <span class="fa fa-anchor"></span> <span class="anchorgene"></span>
          </button>
          <!-- TODO: list of genes should be dynamically generated instead of hand-coded -->
          <div class="dropdown-menu" aria-labelledby="dropdown_anchorgeneselect">
            <button class="dropdown-item anchorgeneselect-class" type="button" value="CHRNA5">CHRNA5</button>
            <button class="dropdown-item anchorgeneselect-class" type="button" value="CHRNA3">CHRNA3</button>
            <button class="dropdown-item anchorgeneselect-class" type="button" value="AC022748.2">AC022748.2</button>
            <button class="dropdown-item anchorgeneselect-class" type="button" value="AC027228.2">AC027228.2</button>
            <button class="dropdown-item anchorgeneselect-class" type="button" value="PSMA4">PSMA4</button>
          </div>
        </div>
      </div>
  
    </div>
  </div>

<!-- Disabled for now; may bring it back for trans-eQTLs
  <div class="container-fluid">
    <div class="row padtop">
      <div class="col-sm-10">
        <div id="gene-searchbox">
          <form id="gene-search">
            <div class="input-group">
              <input id="gene-query-field" name="gene-query-field" autocomplete="off" class="form-control"
                     type="text"
                     placeholder="Add a gene"/>
              <div class="input-group-append">
                <button id="searchbox-gene" class="btn btn-primary" type="submit">Add Gene <span
                    class="fa fa-search"></span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
-->

<div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-sm">
        <form action="#" method="POST" class="yaxis-display" id="transform-y">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-html="true"
                title="Switches the y variable between -log<sub>10</sub>(P-value) and Normalized Effect Size (NES). Triangles indicate eQTLs for upregulation (pointing up) or downregulation (pointing down) of gene expression with P-values < 0.05.">
            <button type="button" class="btn btn-secondary" style="pointer-events: none;"> Show: </button>
          </span>
            <label class="btn btn-success active" data-toggle="tooltip" data-placement="top" data-html="true"
                   title="Display -log<sub>10</sub>(P-values) on the Y-axis">
              <input type="radio" name="y-options" autocomplete=off id="show-log-pvalue" value="log_pvalue"> P-values
            </label>
            <label class="btn btn-success" data-toggle="tooltip" data-placement="top" data-html="true"
                   title="Displays Normalized Effect Size (NES) on the Y-axis. See <a href='https://www.gtexportal.org/home/documentationPage'>the GTEx Portal</a> for an explanation of NES.">
              <input type="radio" name="y-options" autocomplete=off id="show-beta" value="beta"> Effect Size (NES)
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div id="lz-plot" class="ten columns">
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/searchbox.js') }}" type="application/javascript"></script>

  {# These files must be included to make a LocusZoom plot #}
  <script src="https://cdn.jsdelivr.net/npm/locuszoom@{{ config.LOCUSZOOM_VERSION }}/dist/locuszoom.vendor.min.js"
          type="application/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/locuszoom@{{ config.LOCUSZOOM_VERSION }}/dist/locuszoom.app.min.js"
          type="application/javascript"></script>

  <script src="{{ url_for('static', filename='js/region.js') }}" type="application/javascript"></script>

  <script type="application/javascript">
      'use strict';
      var ANCHOR_GENE = {{gene_id|tojson}};
      var ANCHOR_TISSUE = {{tissue|tojson}};

      [window.plot, window.datasources] = makeSinglePlot({{chrom|tojson}}, {{start|tojson}}, {{end|tojson}}, ANCHOR_GENE, ANCHOR_TISSUE, '#lz-plot');

      // Use omnisearch (https://portaldev.sph.umich.edu/api/v1/annotation/omnisearch) to parse
      document.getElementById('variant-search').addEventListener('submit', function (event) {
          event.preventDefault();
          const variant = document.getElementById('query-field').value;
          if (!variant) {
              // TODO: If no search result was found, perhaps we can show error messaging instead of failing silently?
              return;
          }
          parseSearch(variant);
      });

      /* Disabled for now; may bring it back for trans-eQTLs
      document.getElementById('gene-search').addEventListener('submit', function (event) {
          event.preventDefault();
          const geneName = document.getElementById('gene-query-field').value;
          const omniurl = `https://portaldev.sph.umich.edu/api/v1/annotation/omnisearch/?q=${geneName}&build=GRCh38`;
          getOmni(omniurl, function (err, omniJson) {
              var geneID = omniJson.data[0].gene_id;
              if (geneID) {
                  addTrack(window.plot, window.datasources, geneID, ANCHOR_TISSUE);
              }
          });
      });
      */

      // Bootstrap dropdown selector for adding a new tissue
      var tissueElements = document.getElementsByClassName('tissueselect-class');
      Array.from(tissueElements).forEach((selectedTissue) => {
          selectedTissue.addEventListener('click', (event) => {
              addTrack(window.plot, window.datasources, ANCHOR_GENE, event.target.value);
          });
      });

      var geneElements = document.getElementsByClassName('geneselect-class');
      Array.from(geneElements).forEach((selectedGene) => {
          selectedGene.addEventListener('click', (event) => {
              addTrack(window.plot, window.datasources, event.target.value, ANCHOR_TISSUE);
          });
      });

      var anchortissueElements = document.getElementsByClassName('anchortissueselect-class');
      Array.from(anchortissueElements).forEach((selectedAnchorTissue) => {
          selectedAnchorTissue.addEventListener('click', (event) => {
            ANCHOR_TISSUE = event.target.value;
            document.querySelector('.anchortissue').innerHTML = ANCHOR_TISSUE;
            let panel_ids = Array.from(plot.layout.panels, panel => panel.id);
            panel_ids.forEach(function(id){
              if (id !=='genes'){
                plot.removePanel(id);
              }
            });
            // FIXME: seems to be an ugly way of removing panels one by one
            addTrack(window.plot, window.datasources, ANCHOR_GENE, ANCHOR_TISSUE);
          });
      });

      var anchorgeneElements = document.getElementsByClassName('anchorgeneselect-class');
      Array.from(anchorgeneElements).forEach((selectedAnchorGene) => {
          selectedAnchorGene.addEventListener('click', (event) => {
            ANCHOR_GENE = event.target.value;
            document.querySelector('.anchorgene').innerHTML = ANCHOR_GENE;
            let panel_ids = Array.from(plot.layout.panels, panel => panel.id);
            panel_ids.forEach(function(id){
              if (id !=='genes'){
                plot.removePanel(id);
              }
            });
            // FIXME: seems to be an ugly way of removing panels one by one
            // TODO: Delete all other tracks
            addTrack(window.plot, window.datasources, ANCHOR_GENE, ANCHOR_TISSUE);
          });
      });

      document.forms['transform-y'].elements['y-options'].forEach(function (form) {
          form.onchange = function () {
              switchY_region(plot, this.value);
          };
      });

  // initialize labels for anchor tissue and gene
  document.querySelector('.anchortissue').innerHTML = ANCHOR_TISSUE;
  document.querySelector('.anchorgene').innerHTML = ANCHOR_GENE;

  </script>
{% endblock %}
