# A systemd service file to run the app, and ensure it restarts when the server goes down. Install in:
#   /etc/systemd/system/

# Sample commands to use:
#   sudo systemctl daemon-reload  # makes systemd notice changes to this file
#   sudo systemctl start pheget
#   sudo systemctl restart pheget
#   sudo systemctl enable pheget  # run once (re-running is fine) so that systemd knows to run this when the system starts

# Patterned on:
# https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-18-04

# See also:
# https://www.digitalocean.com/community/tutorials/how-to-use-systemctl-to-manage-systemd-services-and-units

[Unit]
Description=Gunicorn instance to serve PheGET
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/data/eqtl-browser/pheget/
ExecStart=/data/eqtl-browser/venv/bin/gunicorn -k gevent --workers 4  -m 007 --bind localhost:8877 --pythonpath /data/eqtl-browser/pheget/deploy/,/data/eqtl-browser/pheget/ wsgi:app

[Install]
WantedBy=multi-user.target
