<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PheGET: eQTL Browser</title>
</head>
<body>

<input id="query-field" type="text" width="100" placeholder="1:13350"><button id='navigate-variant' class="btn btn-success">Go</button>


<script>
  // This is an absolutely simplistic MVP. It contains no validation and doesn't even attempt to help the user if they
  //  ask for a gibberish variant

  // This code uses some es6 syntax and may not work in older browsers. But it's 7pm so Alan can fix that himself.
  document.getElementById('navigate-variant').addEventListener('click', function() {
      const variant = document.getElementById('query-field');

      if (!variant) {
          return;
      }
      const [chrom, pos] = variant.value.split(':');  // UI - user types `chrom:pos`

      // Eventually the search box will be smarter than this. Hackety hack!
      window.location = `/variant/${chrom}_${pos}`;
  });
</script>

</body>
</html>
