<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locuszoom@0.9.1/dist/locuszoom.css" type="text/css"/>
  <title>PheGET - Single Variant View</title>
</head>
<body>

  <h1>eQTL for one variant in all tissues</h1>
  <button onclick="groupByThing(plot,'tissue')">Group by Tissue</button>
  <button onclick="groupByThing(plot,'system')">Group by System</button>
  <button onclick="groupByThing(plot,'symbol')">Group by Gene Symbol</button>
  <div id="plot"></div>


  {# These files must be included to make a LocusZoom plot #}
  <script src="https://cdn.jsdelivr.net/npm/locuszoom@0.9.1/dist/locuszoom.vendor.min.js" type="application/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/locuszoom@0.9.1/dist/locuszoom.app.min.js" type="application/javascript"></script>
  <script src="{{ url_for('static', filename='js/phewas_scatter.js') }}" type="application/javascript"></script>
  <script type="application/javascript">
    // Pass the
    const [plot, datasources] = makePhewasPlot({{ chrom | tojson }}, {{ pos | tojson }}, '#plot');
  </script>
</body>
</html>
