<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locuszoom@0.9.1/dist/locuszoom.css" type="text/css"/>
  <title>PheGET - Single Variant View</title>
</head>
<body>

  <h1>eQTL for one variant in all tissues</h1>
  <button  id="tissue">Group by Tissue</button>
  <button  id="system">Group by System</button>
  <button  id="symbol">Group by Gene Symbol</button>
  <div id="plot"></div>

  <p id="chrom">{{chrom}}</p>:<p id="pos">{{pos}}</p>
  {# These files must be included to make a LocusZoom plot #}
  <script src="{{ url_for('static', filename='js/locuszoom.vendor.min.js') }}" type="application/javascript"></script>
  <script src="{{ url_for('static', filename='js/locuszoom.app.min.js') }}" type="application/javascript"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="application/javascript"></script>
  <script src="{{ url_for('static', filename='js/phewas_scatter.js') }}" type="application/javascript"></script>
  <!-- <script type="application/javascript">
    // Pass the
    const [plot, datasources] = makePhewasPlot({{chrom|tojson}}, {{pos|tojson}}, '#plot');
  </script> -->
</body>
</html>
