<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locuszoom@0.10.0-beta.1/dist/locuszoom.css"
        type="text/css"/>
  <title>PheGET - Single Variant Single Gene View</title>
  <style>
    body {
        background-color: #FAFAFA;
        margin: 0px 20px;
    }
    img {
      max-width: 100%;
      box-sizing: border-box;
    }
    div.example > a > h6 {
      margin-bottom: 0.5em;
    }
    div.example > a > img {
      border: 1px solid #8A8A8A;
      margin-bottom: 1.4em;
    }
    li{
    margin-top: 100px;
    margin-bottom: 200px;
    }
  </style>
</head>
<body>
<div class="container">
<h1 style="margin-top: 1em;"><strong>Association Between Individual Genes and Tissues</strong></h1>
<div class="row">
  <form>
    <input type="button" value="Back" onclick="history.back()">
  </form>
</div>

<h3>Search for Extra tissues here</h3>
<div class="row">
    <select id="tissueselect">
        <option value=""></option>
        <option value="Brain_Cortex">Brain Cortex</option>
        <option value="Muscle_Skeletal">Muscle Skeletal</option>
      </select>  
  <button id="tissuesearch">Add Tissue</button> 
</div>
<h3>Search for Extra Genes here</h3>
<div class="row">
  <select id="geneselect">
      <option value=""></option>
      <option value="ENSG00000169684.13">CHRNA5</option>
      <option value="ENSG00000080644.15">CHRNA3</option>
    </select>  
  <button id="genesearch">Add Gene</button> 
</div>
<button id="switchy" onClick="switchY()">Switch Axis</button>
<!-- <button id="show-pvalue">Show P-values</button>
<button id="show-slope">Show effect sizes</button> -->

<div class="row">
    <!-- <div class="two columns">
      <ul id="buttonlist">
          <li id="{{tissue}}"><button onClick="deletepanel(this.parentNode.id)">Delete</button></li>  
      </ul>
    </div> -->
    <div id="plot" class="ten columns"></div>
</div>
</div>

{# These files must be included to make a LocusZoom plot #}
<script src="https://cdn.jsdelivr.net/npm/locuszoom@0.10.0-beta.1/dist/locuszoom.vendor.min.js"
        type="application/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/locuszoom@0.10.0-beta.1/dist/locuszoom.app.min.js"
        type="application/javascript"></script>

<script src="{{ url_for('static', filename='js/single_gene.js') }}" type="application/javascript"></script>
<script type="application/javascript">
    makeSinglePlot({{chrom|tojson}}, {{pos|tojson}}, {{gene_id|tojson}}, {{tissue|tojson}}, '#plot');
    document.getElementById('tissuesearch').addEventListener('click', function() {
        let newtissue = document.getElementById("tissueselect").value;
        if (newtissue.length == 0){
          alert("No tissue input!");
        } else{
          addassoc(newtissue, true);
        }
    });
    document.getElementById('genesearch').addEventListener('click', function() {
        let newgene = document.getElementById("geneselect").value;
        if (newgene.length == 0){
          alert("No gene input!");
        } else{
          addassoc(newgene, false);
        }
    });
</script>


</body>
</html>
