<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locuszoom@0.10.0-beta.1/dist/locuszoom.css"
        type="text/css"/>
  <title>PheGET - Single Variant Single Gene View</title>
  <style>
    li:not(:last-child) {
    margin-bottom: 100px;
    }
  </style>
</head>
<body>

<h1>Association Between {{gene_id}} and Multiple tissues</h1>
<div>
  <form>
    <input type="button" value="Back" onclick="history.back()">
  </form>
</div>

<h3>Search for Extra tissues here</h3>
<div>
    <select id="tissueselect">
        <option value=""></option>
        <option value="Prostate">Prostate</option>
        <option value="Artery_Coronary">Artery Coronary</option>
        <option value="Muscle_Skeletal">Muscle Skeletal</option>
      </select>  
  <button id="search">Search</button>
  <button id="switchy" onClick="switchY()">Switch Axis</button>
</div>
<!-- <button id="show-pvalue">Show P-values</button>
<button id="show-slope">Show effect sizes</button> -->

<div>
    <div style="display: inline-block;">
      <ul id="buttonlist">
          <li id="{{tissue}}"><button onClick="deletepanel(this.parentNode.id)">Delete</button></li>  
      </ul>
    </div>
    <div id="plot" style="display: inline-block;"></div>
</div>


{# These files must be included to make a LocusZoom plot #}
<script src="https://cdn.jsdelivr.net/npm/locuszoom@0.10.0-beta.1/dist/locuszoom.vendor.min.js"
        type="application/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/locuszoom@0.10.0-beta.1/dist/locuszoom.app.min.js"
        type="application/javascript"></script>

<script src="{{ url_for('static', filename='js/single_gene.js') }}" type="application/javascript"></script>
<script type="application/javascript">
    makeSinglePlot({{chrom|tojson}}, {{pos|tojson}}, {{gene_id|tojson}}, {{tissue|tojson}}, '#plot');
    document.getElementById('search').addEventListener('click', function() {
        let newtissue = document.getElementById("tissueselect").value;
        if (newtissue.length == 0){
          alert("No tissue input!");
        } else if (globalvars["tissues"].includes(newtissue)){
          alert("This tissue is already in the plot!");
        } else{
          addtissue(newtissue);
        }
    });
</script>


</body>
</html>
