<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locuszoom@0.10.0-beta.1/dist/locuszoom.css"
        type="text/css"/>
  <title>PheGET - Single Variant Single Gene View</title>
</head>
<body>

<h1>eQTL for one variant for one gene with several tissues</h1>
<div>
  <form>
    <input type="button" value="Back" onclick="history.back()">
  </form>
</div>

<!-- <button id="show-pvalue">Show P-values</button>
<button id="show-slope">Show effect sizes</button> -->

<div id="plot"></div>

{# These files must be included to make a LocusZoom plot #}
<script src="https://cdn.jsdelivr.net/npm/locuszoom@0.10.0-beta.1/dist/locuszoom.vendor.min.js"
        type="application/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/locuszoom@0.10.0-beta.1/dist/locuszoom.app.min.js"
        type="application/javascript"></script>

<script src="{{ url_for('static', filename='js/single_gene.js') }}" type="application/javascript"></script>
<script type="application/javascript">
    const [plot, datasources] = makeSinglePlot({{chrom|tojson}}, {{pos|tojson}}, {{gene_id|tojson}}, {{tissue|tojson}}, '#plot');
</script>

<!-- <script>
  // This is an absolutely simplistic MVP. It contains no validation and doesn't even attempt to help the user if they
  //  ask for a gibberish variant
  // Added a script to use omnisearch (https://portaldev.sph.umich.edu/api_internal_dev/v1/annotation/omnisearch) to parse rs numbers
  // (Hastily copied from https://stackoverflow.com/questions/12460378/how-to-get-json-from-url-in-javascript)

    document.getElementById('show-pvalue').addEventListener('click', function() {
        switchY(plot, 'pvalue');
    });
    document.getElementById('show-slope').addEventListener('click', function() {
        switchY(plot, 'slope');
    });

</script> -->
</body>
</html>
